@model ResetPasswordDto

<div class="text-center my-5">
    <div class="display-6 border-bottom">Reset Password (@Model?.UserName)</div>
    </div>

    <div class="text-center" asp-validation-summary="All"></div>

    <form >
          <input type="hidden" asp-for="UserName" />

          <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
</div
         </form>

